<ngl-modal header="Donor" [(open)]="opened">
  <div body>
      <form *ngIf="donor" (ngSubmit)="submit()" #donorForm="ngForm">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input ngControl="firstName" [(ngModel)]="donor.firstName" #firstName="ngForm" class="form-control" placeholder="First Name" required/>
          <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
            <b>First Name</b> is required
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input ngControl="lastName" [(ngModel)]="donor.lastName" #lastName="ngForm" class="form-control" placeholder="Last name" required/>
          <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
            <b>Last Name</b> is required
          </div>
        </div>
        <div class="form-group">
          <label for="group">Blood Group</label>
          <select ngControl="bloodGroup" [(ngModel)]="donor.bloodGroup" class="form-control" required>
            <option *ngFor="let g of bloodGroups" [value]="g">{{g}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" ngControl="email" [(ngModel)]="donor.email" #email="ngForm" class="form-control" placeholder="Email" required pattern="[^\s@]+@[^\s@]+\.[^\s@]+" />
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            <b>Email</b> is invalid
          </div>
        </div>
        <div class="form-group">
          <label for="contactNumber">Contact Number</label>
          <input ngControl="contactNumber" [(ngModel)]="donor.contactNumber" #contactNumber="ngForm" class="form-control" placeholder="Contact Number" required pattern="^(\+|00)[0-9]{2} [0-9]{3} [0-9]{4} [0-9]{3}" />
          <div [hidden]="contactNumber.valid || contactNumber.pristine" class="alert alert-danger">
            <b>Contact Number</b> is invalid
          </div>
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!donorForm.form.valid">Submit</button>
      </form>
  </div>
  <button class="slds-button slds-button--neutral" (click)="cancelD()">Cancel</button>
  <button class="slds-button slds-button--neutral slds-button--brand" (click)="submit()">Save</button>
</ngl-modal>
